# This generates a token Secret for the nri-init ServiceAccount
# that is then mounted into the nri-init DaemonSet pods.
#
# In this way, we can use two different ServiceAccounts for nri "main" and "init"
# containers, each with its own RBAC permissions.
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "podlock.fullname" . }}-nri-init-token
  labels:
    {{ include "podlock.labels" .| nindent 4 }}
    app.kubernetes.io/component: nri-init
  annotations:
    kubernetes.io/service-account.name: {{ include "podlock.fullname" . }}-nri-init
type: kubernetes.io/service-account-token