name: Publish Docs using Antora

on:
  push:
    branches: ["main"]
    paths:
      - "docs/**"
      - "antora-playbook.yml"
      - ".github/workflows/antora-build.yml"

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  id-token: write
  pages: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "20"
          cache: "npm"

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: Install Dependencies
        run: npm ci

      - name: Generate Site
        run: npx antora antora-playbook.yml

      - name: Configure Git
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git config --global url."https://${GH_TOKEN}:x-oauth-basic@github.com/".insteadOf "https://github.com/"

      - name: Clone existing gh-pages branch and commit
        run: |
          git fetch origin gh-pages
          git worktree add gh-pages-worktree gh-pages
          cp -r ./build/site/* gh-pages-worktree/
          # Disable Jekyll
          touch gh-pages-worktree/.nojekyll

          cd gh-pages-worktree
          git add .
          git commit -m "Update GitHub Pages content" || echo "No changes to commit"
          git push origin gh-pages
