name: Release Charts

on:
  push:
    branches:
      - main

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  id-token: write
  packages: write
  pages: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Install chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          install_only: true

      - name: Release Helm charts
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -ex

          OWNER=${{ github.repository_owner }}
          REPO=podlock
          CONFIG_FILE=cr.yaml
          PACKAGE_PATH=.cr-release-packages
          CR_TOKEN=${{ secrets.GITHUB_TOKEN }}

          rm -rf ${PACKAGE_PATH}
          # Release each chart in the charts directory
          for chart in $(find charts -maxdepth 1 -mindepth 1  -type d ); do
            chart_name=$(basename $chart)
            chart_path=${PACKAGE_PATH}/${chart_name}-*.tgz

            cr package charts/${chart_name} --config ${CONFIG_FILE} --package-path ${PACKAGE_PATH}

            # check if the chart version is already release. If so, do nothing
            chart_version=$(helm show chart $chart_path | yq -r '.version')
            if gh --repo ${OWNER}/${REPO} release view $chart_name-$chart_version; then
              echo "Chart $chart_name-$chart_version already released. No need to release again."
              rm $chart_path
              continue
            fi

          done

          # Upload the charts if the .cr-release-packages directory is not empty
          if [ "$(ls ${PACKAGE_PATH})" ]; then
            # Upload the chart to the GitHub release
            cr upload --config ${CONFIG_FILE} -o ${OWNER} -r ${REPO} -c "$(git rev-parse HEAD)" --skip-existing  --make-release-latest=false --token ${CR_TOKEN} --push 
            echo "Charts released!"
            
            # Reindex the repository
            cr index --config ${CONFIG_FILE} -o ${OWNER} -r ${REPO} --push --token ${CR_TOKEN} --index-path .
            echo "Repository indexed!"

            # Publish the charts to the OCI registry and sign them
            REGISTRY="ghcr.io/$GITHUB_REPOSITORY_OWNER/charts"
            echo "REGISTRY=${REGISTRY}" >> "$GITHUB_ENV"
            for chart_path in $(find ${PACKAGE_PATH} -maxdepth 1 -mindepth 1 ); do
              echo "Pushing chart $chart_path to ghcr.io"
              chart_name=$(helm show chart ${chart_path} | yq ".name")
              push_output=$(helm push $chart_path "oci://$REGISTRY" 2>&1)
              chart_url=$(echo $push_output | sed -n 's/Pushed: \(.*\):.* Digest: \(.*\)$/\1\@\2/p')
              digest=$(echo $push_output | sed -n 's/Pushed: \(.*\):.* Digest: \(.*\)$/\2/p')
              echo "DIGEST_${chart_name}=${digest}" >> "$GITHUB_ENV"
              # We need to disable the new bundle format enabled by default since 
              # cosign v3.x.x because some verification tools (e.g. slsactl) are not
              # able to properly verify the signatures using this new format
              cosign sign --yes --new-bundle-format=false --use-signing-config=false "$chart_url"
              # Sign with cosign v3 signature format as well
              cosign sign --yes --new-bundle-format=true --use-signing-config=true "$chart_url"
              echo "Chart $chart_name signed and pushed to ghcr.io"
            done
          fi

      - name: Prepare GH pages readme & artifacthub-repo.yml
        run: |
          mkdir -p ./to-gh-pages
          cp -f charts/README.md ./to-gh-pages/
          cp -f artifacthub-repo.yml ./to-gh-pages/

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: to-gh-pages

  deploy:
    needs: release
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
